body {
    padding-bottom: 20px;
    background-color: #eee;
}
div.sla {
	display: none;
}

div.content {
	display: none;
} 

div#sensor_list {
    text-align: left;
}

.title {
	color: #3276b1;
}

hr {
	color:black;
	height: 2px;
}
div.graph {
	display: none;
}
.btn-lg{
	font-size: 14px;
}
/*.menu {
    height:3em;
    padding:.5em;
    position:absolute;
    top:50px;
    width:100%;
}*/
.navigaion{
	
}
