body {
    padding-bottom: 20px;
    background-color: #eee;
}
div.sla {
	display: none;
}

div.content {
	display: none;
} 

div#sensor_list {
    text-align: left;
}

.title {
	color: #3276b1;
}

hr {
	color:black;
	height: 2px;
}
div.graph {
	display: none;
}
.btn-lg{
	font-size: 14px;
}
.sensors_wrapper{
	padding-top: 70px;

}
.navigation{
	border-bottom: 1px solid #4679bd;
    background: #ddd;
    width: 100%;
    top: 0;
    position: fixed;
}
