body {
    padding-bottom: 20px;
    background-color: #eee;
}
div.sla {
	display: none;
}

div.content {
	display: none;
} 

div#sensor_list {
    text-align: left;
}

.title {
	color: #3276b1;
}

hr {
	color:black;
	height: 2px;
}
div.graph {
	display: none;
  
}
#graphs{
      padding: 70px 20px;
}
.btn-lg{
	font-size: 14px;
}
.sensors_wrapper{
	padding-top: 70px;

}
.sensor{
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
         -webkit-box-shadow: 0 8px 6px -6px gray;
       -moz-box-shadow: 0 8px 6px -6px gray;
            box-shadow: 0 8px 6px -6px gray;
}
.navigation{
    background: #ddd;
    width: 100%;
    top: 0;
    position: fixed;
}
.box-style{
     -webkit-box-shadow: 0 8px 6px -6px gray;
       -moz-box-shadow: 0 8px 6px -6px gray;
            box-shadow: 0 8px 6px -6px gray;
}
.nav{
    padding: 0px 15px;
    font-size: 1.25em;

}
.preview_content{
 display: none;
}

