<div id="graphs" class="tab_subscribed tab-pane">
    <div class="row ">
        <div class="row">
            <div class="graph col-md-4" id="graph_placeholder"
                 style="width: 260px; height: 230px; margin: 0 auto">
                <div class="subscribed_sensor">
                    <p>Sensor Name</p>

                    <p>Provider:</p>

                    <p>Metadata</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subscribed_sensor">
                    <h3>Sensor name</h3>

                    <p>Provider:</p>

                    <p>Metadata</p>
                    <img class="img-responsive" src="img/highcharts.png"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subscribed_sensor">
                    <img class="img-responsive" src="img/test.png"/>
                </div>
            </div>
        </div>
    </div>
</div>