<div id="dev_ref" class="row tab-pane">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Backend interconnection</h3>
            <p><strong>Step 1: </strong> Download description files and explore system architecture</p>
            <a href="#">Source</a>

            <p><strong>Step 2:</strong> Open config file /app/registry/all.json and fill all available attributes of data source</p>

            <p><strong>Step 3:</strong> Open config file /app/config.js and fill in all parameters</p>

            <p><strong>Step 4:</strong> Save changes and reload the page. Open debugger in browser and take a look on logs. It will tell you where possible error occur.</p>

            <p><strong>Note: </strong>here you can find helpful links.<a href="#">REST API, JSON</a>
                <a href="#">XMPP Private Namespace(XEP0049)</a>
                <a href="#">XMPP PubSub(XEP0060)</a>
                <a href="#">AngularJS</a>
            </p>
        </div>
    </div>
</div>