<div id="settings" class="row tab-pane">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Your Profile</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-3">
            <form class="form-horizontal" role="form"  ng-submit="user.save('profile')">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" ng-model="user.profile.name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSurname" class="col-sm-2 control-label">Surname</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputSurname" ng-model="user.profile.surname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" ng-model="user.profile.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" ng-model="user.profile.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 col-md-offset-6">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Your Registry</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-3">
            <form class="form-horizontal" role="form"  ng-submit="registryAdd()">
                <div class="form-group">
                    <label for="inputRegistryURL" class="col-sm-2 control-label">URL</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputRegistryURL" ng-model="inputRegistryURL" required>
                    </div>
                </div>
                <div class="form-group" class="btn-group">
                    <div class="col-sm-offset-2 col-sm-10 col-md-offset-6">
                        <button type="submit" class="btn btn-default">Add</button>
                    </div>
                </div>
            </form>
            <div class="registry_edit" ng-hide="user.registries.length == 0">
                <p><strong>List of Registries URL</strong></p>
                <p id="list_of_registries" ng-repeat="registry in user.registries">
                    <button id="addedRegistry" class="btn btn-default" ng-click="registryDelete(registry)">Delete</button>
                    <button id="viewRegistry" class="btn btn-default" ng-controller="RegistryModalCtrl" ng-click="open()">View</button>
                    {{registry}}</p>
            </div>
        </div>
    </div>
</div>