<div class="modal-header">
    <h3>{{sensor.title}}</h3>
</div>
<div class="modal-body">
    <p>{{sensor.description}}</p>
    <p><strong>Access:</strong>{{sensor.access}}</p>
    <p><strong>Provider:</strong><a href="{{sensor.provider_www}}">{{sensor.provider_name}}</a></p>
    <div class="div_sla" ng-show="sensor.sla">
        <p>Please read and accept the SLA to subscribe</p>
        <textarea class="form-control" disabled>{{sensor.sla}}</textarea>
        <label for="accept_sla">I hereby accept the SLA as stated above</label>
        <input type="checkbox" ng-model="accept_sla" id="accept_sla">
    </div>
</div>
<div ng-show="sensor.preview" style="height: 305px">
    <carousel interval="5000">
        <slide ng-repeat="img in sensor.preview">
            <img ng-src="{{img}}" style="margin:auto;">
        </slide>
    </carousel>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="subscribe()" ng-disabled="!accept_sla">Subscribe</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>